@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-clr: #545971;
  --neutral-black: #171921;
  --neutral-white: #ffffff;
  --neutral-red: #ff5e5e;
  --primary-dark-blue: #142257;
  --primary-semi-blue: #1f3584;
  --primary-sky-blue: #15b2f5;
}

html {
  font-size: 0.625rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.55556;
  font-weight: 400;
  color: var(--main-clr);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: inherit;
}

p {
  margin: 0;
}
/* Max width container = 1440px / with 15px padding = 1470px */
/* Max width = 1920px */

/* ============================= SITEWIDE ================================= */

.block-header {
  display: grid;
  gap: 2.4em;

  &.block-header--inline {
    grid-template-columns: minmax(auto, 60em) minmax(auto, 61.3em);
    justify-content: space-between;
    align-items: end;
  }

  &.block-header--center {
    text-align: center;
  }
  & .block-header__title {
    font-size: 5.2em;
    line-height: 1.23;
    font-weight: 700;
    color: var(--neutral-black);

    @media (max-width: 1469px) {
      font-size: 2.4em;
      line-height: 1.33;
    }

    &.block-header__title--big {
      font-size: 6.4em;

      @media (max-width: 1469px) {
        font-size: 3.2em;
      }
    }

    &.block-header__title--white {
      color: var(--neutral-white);
    }
  }

  & .block-header-text {
    & p {
      font-size: 1.8em;
    }
  }
}

/* 
      <div class="block-header">
        <h2 class="block-header__title">
          Fast, Friendly, and Satisfaction Guarantee
        </h2>
        <div class="block-header-text">
          <p>
            No matter how big or small 
          </p>
        </div>
      </div>
*/
/* ============================ / SITEWIDE ================================ */

/* =============================== HEADER ================================= */
.header {
  background-color: var(--primary-dark-blue);
  color: var(--neutral-white);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  & .header__container {
    min-height: 8em;
    max-width: 1470px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 17em 1fr 17em;
    gap: 2em;

    padding: 1em;
    align-items: center;

    @media (max-width: 767.98px) {
      min-height: 5.5em;
      grid-template-columns: auto auto;
    }
  }

  & .header__logo {
    position: relative;
    z-index: 5;
  }

  & .header__menu {
    justify-self: center;

    @media (max-width: 767.98px) {
      justify-self: flex-end;
    }

    & .menu_icon {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;

      @media (max-width: 767.98px) {
        display: block;
        position: relative;
        z-index: 1;
        width: 2em;
        height: 1.4em;
      }

      & span {
        position: absolute;
        display: block;
        width: 2em;
        height: 0.2em;
        background-color: var(--neutral-white);
        left: 0;
        top: 50%;
        translate: 0 -50%;

        &::before {
          content: '';
          position: absolute;
          top: -0.6em;
          left: 0;
          width: 2em;
          height: 0.2em;
          background-color: inherit;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -0.6em;
          left: 0;
          width: 2em;
          height: 0.2em;
          background-color: inherit;
        }
      }
    }

    & .menu__body {
      @media (max-width: 767.98px) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        padding: 11em 1.5em 1.5em 3em;
        overflow: auto;
        background-color: var(--primary-semi-blue);
        transition: left 300ms;
        &::before {
          content: '';
          position: fixed;
          width: 100%;
          height: 5.5em;
          top: 0;
          left: 100%;
          left: 0;
          z-index: 2;
          background-color: var(--primary-dark-blue);
          transition: left 300ms;
        }

        .menu-open & {
          left: 0;

          &::before {
            left: 0;
          }
        }
      }
    }

    & ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 5.7em;
      padding: 0;
      list-style: none;

      @media (max-width: 767.98px) {
        flex-direction: column;
        column-gap: 1.5em;
        align-items: flex-end;
        row-gap: 3em;
      }
    }

    & li {
      font-size: 1.8em;
      font-weight: 700;

      @media (max-width: 767.98px) {
        font-size: 3em;
      }
    }
  }

  & .header__schedule {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 1em;

    & span {
      font-size: 1.8em;
      font-weight: 700;
    }

    &::before {
      content: '';
      background-color: var(--neutral-red);
      width: 12px;
      height: 12px;
      border-radius: 100%;
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }
}

/* =============================== /HEADER ================================= */

/*  */

/* =============================== HERO ================================= */
.hero {
  margin-top: 8em;
  background-color: var(--primary-dark-blue);

  @media (max-width: 767.98px) {
    margin-top: 5em;
  }
}
/* =============================== /HERO ================================= */
